/* Estilo general del cuerpo de la web */
body{
  font-family: Arial, sans-serif;
  margin:0;
  background:#0f0f0f;
  color:white;
}


/* HERO / nombre artista */
.hero{
  height:80vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.hero h1{
  font-size:5rem;
  letter-spacing:6px;
}


/* Secciones generales */
section{
  padding:80px 20px;
  text-align:center;
}


/* Estilo para el vídeo */
.video iframe{
  max-width:900px;
  width:90%;
  border-radius:10px;
}


/* Social links */
.socials a{
  margin:0 15px;
  color:white;
  text-decoration:none;
  font-size:1.2rem;
}

.socials a:hover{
  opacity:0.6;
}