/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ESTILO GENERAL */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e6e6e6; /* Gris lunar */
  color: #111;
  text-align: center;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* LUNA */
.moon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #f5f5f5;
  margin-bottom: 40px;

  /* brillo */
  box-shadow:
    0 0 30px rgba(255, 255, 255, 0.8),
    0 0 60px rgba(255, 255, 255, 0.5);
}

/* NOMBRE */
.hero h1 {
  font-size: 4rem;
  letter-spacing: 0.3rem;
}

/* COMING SOON */
.coming-soon {
  padding: 100px 20px;
  font-size: 1.2rem;
  opacity: 0.7;
}

.coming-soon p {
  margin-bottom: 15px;
}

/* FOOTER */
footer {
  padding: 60px 20px;
  font-size: 0.9rem;
  opacity: 0.6;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .hero h1 {
    font-size: 3rem;
  }

  .moon {
    width: 90px;
    height: 90px;
  }
}
